<div *ngIf="usersDataSource.data.length > 0">
  <mat-table [dataSource]="usersDataSource">
    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef>Name</mat-header-cell>
      <mat-cell *matCellDef="let user">{{ user.name }}</mat-cell>
    </ng-container>
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let user; columns: displayedColumns;" (click)="onSelectUser(user.id)">
    </mat-row>
  </mat-table>
</div>
<div *ngIf="usersDataSource.data.length === 0">
  No users available.
</div>